<div class="homepage-container">
    
    <!-- Zomato Header -->
    <div class="container-fluid mt-5">
      <h1 class="lilita-one-regular zomato mt-5">ZOMATO</h1>
    </div>
  
    <!-- Tagline -->
    <div class="container-fluid">
      <h1 class="discover">Discover the best food & drinks in your area</h1>
    </div>
  
    <!-- Search Bar -->
    <div class="container-fluid mt-5 search">
      <form class="d-block">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search for food, drinks, or restaurants"
          aria-label="Search"
        />
      </form>
    </div>
    <!-- card-->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 ms-auto">
            <div class="card">
            <div class="card-body">
                <img src="assets/food.jpeg" alt="food" class="card-title" height="170px" width="250px">
                
                <a routerLink="/cart" class="btn ms-5">PLACE ORDER</a>
            </div>
            </div>
        </div>
        <div class="col-sm-5 ms-auto me-5">
            <div class="card">
            <div class="card-body">
                <img src="assets/dine.jpeg" alt="food" class="card-title" height="170px" width="250px">
                <a href="#" class="btn ms-5">DINE IN'S</a>
            </div>
            </div>
        </div>
        </div>
</div> -->
  <app-cart></app-cart>
    
  </div>