<div class="dashboard">
    <h2>Dashboard</h2>
    <div class="dashboard-stats">
      <div>
        <h3>Total Orders</h3>
        <hr class="dropdown-divider-dark">
        <h1><i class="bi bi-cart4"></i></h1>
        <p>20,000</p>
      </div>
      <div>
        <h3>Total Revenue</h3>
        <hr class="dropdown-divider-dark">
        <h1><i class="bi bi-coin"></i></h1>
        <p>43,098,398</p>
      </div>
      <div>
        <h3>Total Users</h3>
        <hr class="dropdown-divider-dark">
        <h1><i class="bi bi-person"></i></h1>
        <p>7654</p>
      </div>
      <div>
        <h3>People Online</h3>
        <hr class="dropdown-divider-dark">
        <h1><i class="bi bi-activity"></i></h1>
        <p>9876</p>
      </div>
    </div>
  
    <div class="world-map">
      <h3>World Map</h3>
      <img src="assets/worldimg.jpeg" alt="World Map" width="500px" height="275px" />
    </div>

    <div class="world-map">
        <h3>profit</h3>
        <img src="assets/chart.webp" alt="World Map" width="500px" height="275px" />
    </div>
    <div class="world-map">
        <h3>popularity</h3>
        <img src="https://via.placeholder.com/500x300" alt="World Map" />
      </div>
      <div class="world-map">
          <h3>stocks</h3>
          <img src="https://via.placeholder.com/500x300" alt="World Map" />
      </div>
  </div>